In [10]:
import json
import pandas as pd

In [19]:
coordinate_list = []
n = 0
for i in range(8):
    for j in range(15):
        coordinate_list.append({
            'lon': 13.25 + j * 0.25,
            'lat': 47 - i * 0.25,
            'id': n
        })
        n = n + 1

In [20]:
coordinate_list

[{'id': 0, 'lat': 47.0, 'lon': 13.25},
 {'id': 1, 'lat': 47.0, 'lon': 13.5},
 {'id': 2, 'lat': 47.0, 'lon': 13.75},
 {'id': 3, 'lat': 47.0, 'lon': 14.0},
 {'id': 4, 'lat': 47.0, 'lon': 14.25},
 {'id': 5, 'lat': 47.0, 'lon': 14.5},
 {'id': 6, 'lat': 47.0, 'lon': 14.75},
 {'id': 7, 'lat': 47.0, 'lon': 15.0},
 {'id': 8, 'lat': 47.0, 'lon': 15.25},
 {'id': 9, 'lat': 47.0, 'lon': 15.5},
 {'id': 10, 'lat': 47.0, 'lon': 15.75},
 {'id': 11, 'lat': 47.0, 'lon': 16.0},
 {'id': 12, 'lat': 47.0, 'lon': 16.25},
 {'id': 13, 'lat': 47.0, 'lon': 16.5},
 {'id': 14, 'lat': 47.0, 'lon': 16.75},
 {'id': 15, 'lat': 46.75, 'lon': 13.25},
 {'id': 16, 'lat': 46.75, 'lon': 13.5},
 {'id': 17, 'lat': 46.75, 'lon': 13.75},
 {'id': 18, 'lat': 46.75, 'lon': 14.0},
 {'id': 19, 'lat': 46.75, 'lon': 14.25},
 {'id': 20, 'lat': 46.75, 'lon': 14.5},
 {'id': 21, 'lat': 46.75, 'lon': 14.75},
 {'id': 22, 'lat': 46.75, 'lon': 15.0},
 {'id': 23, 'lat': 46.75, 'lon': 15.25},
 {'id': 24, 'lat': 46.75, 'lon': 15.5},
 {'id': 25, 'lat': 46.75, 'lon': 15.75},
 {'id': 26, 'lat': 46.75, 'lon': 16.0},
 {'id': 27, 'lat': 46.75, 'lon': 16.25},
 {'id': 28, 'lat': 46.75, 'lon': 16.5},
 {'id': 29, 'lat': 46.75, 'lon': 16.75},
 {'id': 30, 'lat': 46.5, 'lon': 13.25},
 {'id': 31, 'lat': 46.5, 'lon': 13.5},
 {'id': 32, 'lat': 46.5, 'lon': 13.75},
 {'id': 33, 'lat': 46.5, 'lon': 14.0},
 {'id': 34, 'lat': 46.5, 'lon': 14.25},
 {'id': 35, 'lat': 46.5, 'lon': 14.5},
 {'id': 36, 'lat': 46.5, 'lon': 14.75},
 {'id': 37, 'lat': 46.5, 'lon': 15.0},
 {'id': 38, 'lat': 46.5, 'lon': 15.25},
 {'id': 39, 'lat': 46.5, 'lon': 15.5},
 {'id': 40, 'lat': 46.5, 'lon': 15.75},
 {'id': 41, 'lat': 46.5, 'lon': 16.0},
 {'id': 42, 'lat': 46.5, 'lon': 16.25},
 {'id': 43, 'lat': 46.5, 'lon': 16.5},
 {'id': 44, 'lat': 46.5, 'lon': 16.75},
 {'id': 45, 'lat': 46.25, 'lon': 13.25},
 {'id': 46, 'lat': 46.25, 'lon': 13.5},
 {'id': 47, 'lat': 46.25, 'lon': 13.75},
 {'id': 48, 'lat': 46.25, 'lon': 14.0},
 {'id': 49, 'lat': 46.25, 'lon': 14.25},
 {'id': 50, 'lat': 46.25, 'lon': 14.5},
 {'id': 51, 'lat': 46.25, 'lon': 14.75},
 {'id': 52, 'lat': 46.25, 'lon': 15.0},
 {'id': 53, 'lat': 46.25, 'lon': 15.25},
 {'id': 54, 'lat': 46.25, 'lon': 15.5},
 {'id': 55, 'lat': 46.25, 'lon': 15.75},
 {'id': 56, 'lat': 46.25, 'lon': 16.0},
 {'id': 57, 'lat': 46.25, 'lon': 16.25},
 {'id': 58, 'lat': 46.25, 'lon': 16.5},
 {'id': 59, 'lat': 46.25, 'lon': 16.75},
 {'id': 60, 'lat': 46.0, 'lon': 13.25},
 {'id': 61, 'lat': 46.0, 'lon': 13.5},
 {'id': 62, 'lat': 46.0, 'lon': 13.75},
 {'id': 63, 'lat': 46.0, 'lon': 14.0},
 {'id': 64, 'lat': 46.0, 'lon': 14.25},
 {'id': 65, 'lat': 46.0, 'lon': 14.5},
 {'id': 66, 'lat': 46.0, 'lon': 14.75},
 {'id': 67, 'lat': 46.0, 'lon': 15.0},
 {'id': 68, 'lat': 46.0, 'lon': 15.25},
 {'id': 69, 'lat': 46.0, 'lon': 15.5},
 {'id': 70, 'lat': 46.0, 'lon': 15.75},
 {'id': 71, 'lat': 46.0, 'lon': 16.0},
 {'id': 72, 'lat': 46.0, 'lon': 16.25},
 {'id': 73, 'lat': 46.0, 'lon': 16.5},
 {'id': 74, 'lat': 46.0, 'lon': 16.75},
 {'id': 75, 'lat': 45.75, 'lon': 13.25},
 {'id': 76, 'lat': 45.75, 'lon': 13.5},
 {'id': 77, 'lat': 45.75, 'lon': 13.75},
 {'id': 78, 'lat': 45.75, 'lon': 14.0},
 {'id': 79, 'lat': 45.75, 'lon': 14.25},
 {'id': 80, 'lat': 45.75, 'lon': 14.5},
 {'id': 81, 'lat': 45.75, 'lon': 14.75},
 {'id': 82, 'lat': 45.75, 'lon': 15.0},
 {'id': 83, 'lat': 45.75, 'lon': 15.25},
 {'id': 84, 'lat': 45.75, 'lon': 15.5},
 {'id': 85, 'lat': 45.75, 'lon': 15.75},
 {'id': 86, 'lat': 45.75, 'lon': 16.0},
 {'id': 87, 'lat': 45.75, 'lon': 16.25},
 {'id': 88, 'lat': 45.75, 'lon': 16.5},
 {'id': 89, 'lat': 45.75, 'lon': 16.75},
 {'id': 90, 'lat': 45.5, 'lon': 13.25},
 {'id': 91, 'lat': 45.5, 'lon': 13.5},
 {'id': 92, 'lat': 45.5, 'lon': 13.75},
 {'id': 93, 'lat': 45.5, 'lon': 14.0},
 {'id': 94, 'lat': 45.5, 'lon': 14.25},
 {'id': 95, 'lat': 45.5, 'lon': 14.5},
 {'id': 96, 'lat': 45.5, 'lon': 14.75},
 {'id': 97, 'lat': 45.5, 'lon': 15.0},
 {'id': 98, 'lat': 45.5, 'lon': 15.25},
 {'id': 99, 'lat': 45.5, 'lon': 15.5},
 {'id': 100, 'lat': 45.5, 'lon': 15.75},
 {'id': 101, 'lat': 45.5, 'lon': 16.0},
 {'id': 102, 'lat': 45.5, 'lon': 16.25},
 {'id': 103, 'lat': 45.5, 'lon': 16.5},
 {'id': 104, 'lat': 45.5, 'lon': 16.75},
 {'id': 105, 'lat': 45.25, 'lon': 13.25},
 {'id': 106, 'lat': 45.25, 'lon': 13.5},
 {'id': 107, 'lat': 45.25, 'lon': 13.75},
 {'id': 108, 'lat': 45.25, 'lon': 14.0},
 {'id': 109, 'lat': 45.25, 'lon': 14.25},
 {'id': 110, 'lat': 45.25, 'lon': 14.5},
 {'id': 111, 'lat': 45.25, 'lon': 14.75},
 {'id': 112, 'lat': 45.25, 'lon': 15.0},
 {'id': 113, 'lat': 45.25, 'lon': 15.25},
 {'id': 114, 'lat': 45.25, 'lon': 15.5},
 {'id': 115, 'lat': 45.25, 'lon': 15.75},
 {'id': 116, 'lat': 45.25, 'lon': 16.0},
 {'id': 117, 'lat': 45.25, 'lon': 16.25},
 {'id': 118, 'lat': 45.25, 'lon': 16.5},
 {'id': 119, 'lat': 45.25, 'lon': 16.75}]

In [21]:
coor = json.dumps(coordinate_list, indent=2)

In [22]:
obj = open('coordinate.json', 'w')
obj.write(coor)
obj.close()

In [23]:
pd.read_json('coordinate.json', orient='records')

      id    lat    lon
0      0  47.00  13.25
1      1  47.00  13.50
2      2  47.00  13.75
3      3  47.00  14.00
4      4  47.00  14.25
5      5  47.00  14.50
6      6  47.00  14.75
7      7  47.00  15.00
8      8  47.00  15.25
9      9  47.00  15.50
10    10  47.00  15.75
11    11  47.00  16.00
12    12  47.00  16.25
13    13  47.00  16.50
14    14  47.00  16.75
15    15  46.75  13.25
16    16  46.75  13.50
17    17  46.75  13.75
18    18  46.75  14.00
19    19  46.75  14.25
20    20  46.75  14.50
21    21  46.75  14.75
22    22  46.75  15.00
23    23  46.75  15.25
24    24  46.75  15.50
25    25  46.75  15.75
26    26  46.75  16.00
27    27  46.75  16.25
28    28  46.75  16.50
29    29  46.75  16.75
..   ...    ...    ...
90    90  45.50  13.25
91    91  45.50  13.50
92    92  45.50  13.75
93    93  45.50  14.00
94    94  45.50  14.25
95    95  45.50  14.50
96    96  45.50  14.75
97    97  45.50  15.00
98    98  45.50  15.25
99    99  45.50  15.50
100  100  45.50  15.75
101  101  45.50  16.00
102  102  45.50  16.25
103  103  45.50  16.50
104  104  45.50  16.75
105  105  45.25  13.25
106  106  45.25  13.50
107  107  45.25  13.75
108  108  45.25  14.00
109  109  45.25  14.25
110  110  45.25  14.50
111  111  45.25  14.75
112  112  45.25  15.00
113  113  45.25  15.25
114  114  45.25  15.50
115  115  45.25  15.75
116  116  45.25  16.00
117  117  45.25  16.25
118  118  45.25  16.50
119  119  45.25  16.75

[120 rows x 3 columns]

In [24]:
with open('coordinate.json') as json_file:  
    data = json.load(json_file)